@import "../../assets/scss/variables.scss";
@import "../../assets/scss/animations.scss";

.stopwatch {
  border-radius: 50%;
  border: 1px solid $border-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  flex-direction: column;
  animation-name: anim-appear;
  animation-duration: $animation-duration;

  &__value {
    margin: 24px 0 0;
    font-size: 32px;
  }

  &__buttons {
    list-style: none;
    padding: 16px;
    margin: 0;
    display: flex;

    & > li {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__button {
    border: 1px solid $border-color;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: $back-color;
    cursor: pointer;
    padding: 0;
    transition: background $transition-duration,
      border-color $transition-duration;

    &:disabled {
      opacity: $disabled-opacity;
    }

    &:hover {
      background: $back-hover-color;
    }

    &--blue {
      background: $accent-color;
      color: #fff;
      border-color: $accent-color;

      &:hover {
        background: $accent-hover-color;
        border-color: $accent-hover-color;
      }
    }
  }

  &__delete {
    background: $back-color;
    border: 1px solid $border-color;
    border-radius: 50%;
    padding: 0;
    width: 24px;
    height: 24px;
    position: relative;
    font-size: 0;
    overflow: hidden;
    cursor: pointer;
    transition: background $transition-duration;

    &:hover {
      background: $back-hover-color;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 1px;
      background: $border-color;
      left: calc(50% - 20px);
      top: 50%;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }
}
